[Unit]
Description=NBXplorer service
Wants=bitcoind-main.service
After=bitcoind-main.service

[Service]
EnvironmentFile=/usr/local/NBXplorer/env_vars
ExecStart=/usr/local/NBXplorer/run.sh{% if nbxplorer_cli_args is defined and nbxplorer_cli_args|length > 0 %}{{ nbxplorer_cli_args }}{% endif %}

WorkingDirectory=/usr/local/NBXplorer
User={{ nbxplorer_user }}
Group={{ nbxplorer_group }}
Restart=always

[Install]
WantedBy=multi-user.target
