[Unit]
Description=NBXplorer service
Wants=bitcoind-main
After=bitcoind-main

[Service]
ExecStart=/usr/local/NBxplorer/run.sh --btcrpccookiefile /usr/local/NBxplorer/rpccreds --postgres "Username={{ nbxplorer_db_user }};Password={{ nbxplorer_db_pass }};Host=localhost;Port=5432;Database={{ nbxplorer_db_name }}"
WorkingDirectory=/usr/local/NBxplorer
User={{ nbxplorer_user }}
Group={{ nbxplorer_group }}
Restart=always

[Install]
WantedBy=multi-user.target
